
.intro {
  background-image: linear-gradient(to left, #434343 0%, black 100%);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;        
  width: 100%;
  padding-top: 20vw;
}

@keyframes pulseShadow {
  0%   { filter: drop-shadow(0px 0px -15px #cb2121); }
  50%  { filter: drop-shadow(0px 0px 15px #cb2121); }
  100% { filter: drop-shadow(0px 0px -15px #cb2121); }
}
.propic {
  height: 100vh;
  width: 100vh;
  object-fit: contain;   
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: pulseShadow 10s infinite;
}

.intro-text {
  padding: 5vw;  
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  color: azure;
  z-index: 2;
  position: relative;
}

.hi {
  color: #ffffff;
  font-size: 7rem;  /* ~60px */
  font-weight: 900;
  line-height:10vw
}
.name{
  color:  #cb2121; 
  -webkit-text-stroke: 0.15vw rgb(255, 255, 255);
  
}

.web {
  font-family: "Roboto", Sans-serif;
  background-color: #cb2121;
  display: inline-block;
  padding: 0.2em 0.5em;   /* em for text-based padding */
  font-size: 2rem;
  font-weight: 300;
  
}

.work {  
  font-size: 2rem;
  color: #fff;
  padding: .5em .5em;
  margin-top: 4vh;
  background: transparent;  
  border-radius: 1rem;
  border: 0.05rem solid #fff;  
  box-shadow: 0.5rem 0.5rem 1.25rem rgba(0, 0, 0, 0.5);
  text-shadow: 0.5rem 0.5rem 1.25rem rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #cb2121;  
}


@media (max-width: 768px) {
  
  .intro {
    height: 100vh;        
    width: 100%;
  }
  .intro-text {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .propic {
    
    height: 120vw;
    width: 100vw;

  }
  
  .hi {
  
  font-size: 4rem;
  line-height: 15vw; 
  
  }

  .web {
   
    font-size: .8rem;
    margin: 2vw;
  }

  .work {  
    font-size: 1rem;
    border-radius: .5rem; 
    margin-top: 1vh;
  }

}
