.project-section {
    
    transition: background-color 1s ease;
    background-color: #cb2121;
    padding-top: 15vw;
    padding-bottom: 10vw;
  }
.textproject {
  text-align: center;
  padding-bottom: 1vw;
  font-size: 10em; 
  font-weight: 800;
}
.textproject h1{
    
    font-weight: 900;
    color: #ffffff;
    padding-top: 2vw;
    font-size: 7rem;
    letter-spacing: 2px;
    opacity:0;              
    transform: translateY(30px); 
    transition: all 2s ease-out;
}
.textproject h6{
    color: #ffffff;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 15vw ;
    padding-left: 15vw ;
    font-size: 1.5rem;
}
.textproject h1.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.projectcards {
  
    padding-right: 15vw ;
    padding-left: 15vw ;
  display: flex;
  flex-direction: column;
  height: 300vh; 
}

.card {

  position: sticky;
  top: 10vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: scale(0.9);
  transition: transform 0.3s ease-out;
  z-index: 0;
}

.card img {
padding: 2vw;
padding-bottom: 1vw;
  object-fit: cover;
  width: auto;
  height: 40vh;
}

.card-content {
  padding-left:  4vw;
  padding-right:  4vw;
  padding-bottom: 3vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card h3 {
  font-size: 2.5rem;
}
.card p {
  color: #555;
  font-size: 1.5rem;
  line-height: 1.5;
}

.tags {
  margin: 1rem 0;
}

.tag {
  display: inline-block;
  background: #f0f0f0;
  color: #333;
  padding: 0.3em 0.6em;
  border-radius: 0.6rem;
  font-size: 1.5rem;
  margin: 0.3rem;
}

.button {
  display: inline-block;
  background: black;
  color: white;
  padding: 0.6em 1.2em;
  border-radius: 0.6rem;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 0.6rem;
}

.button:hover {
  background: #333;
}

@media (max-width: 768px) {
  .project-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .textproject h1 {
    font-size: 6vw;
  }
  .textproject h6 {
    font-size: 2.1vw;
    line-height: 1.4;
    
    padding-bottom: 5vw;
  }
  .projectcards {
    
    padding-right: 1vw ;
    padding-left: 1vw ;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .card {
    box-shadow: #ffffff;
    max-width: 85vw;
    
    
  }
  .card img{
    border-radius: 5vw;
    height: 50vh;


  }

  .card-content h3{
    font-size: 2rem;
  }
   .card-content p{
    font-size: 1rem;
  }
   .tags{
    font-size: .6rem;
    padding-right: 1vw ;
    padding-left: 1vw ;
  }
   .tag{
    font-size: .6rem;
  }
  .button{
    font-size: 1rem;


  }





}
