html {
  font-size: 16px;         
  scroll-behavior: smooth; 
}

* {
  margin: 0;
  
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  transition: ease;
}


.nav-header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 42;
    background: transparent;
    
}
.navbar {
  
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;                  
  position: fixed;
  width: 100vw;
  top: 0;     
  transition: background-color 0.3s; 
  z-index: 1000;
  height: 9vh;                     
}

.scrolled {
  background-color: rgba(255, 255, 255, 0);
}

.navbar ul {
  list-style-type: none;   
  display: flex;    
  gap: 1.25rem;
  margin-right: 3vw;
                
}

.navbar li a {
  text-decoration: none;
  font-size: 1.5rem;          
  color: #fff;         
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem;     
  display: block;
  font-weight: 700; 
          
}

.navbar li a:hover {
  color: #000;
}


.logo1 {
  height: 3rem;        
  margin-left: 5rem;
}




.burger {
  display: none;
  font-size: 1.5rem;   /* rem for icon size */
  cursor: pointer;
}

#sidebar {
  position: fixed;
  top: 0;
  right: -15rem;       /* rem instead of px */
  width: 12rem;
  height: 100%;
  background: #cb2121; 
  display: flex;
  flex-direction: column;
  padding: 4rem 1.5rem;
  transition: right 0.3s ease;
  z-index: 40;
}

#sidebar a {
  color: white;
  padding: 1rem 0;
  text-decoration: none;
  z-index: 40;
}

#sidebar.active {
  right: 0;
}

@media (max-width: 768px) {
  .navbar {
    height: 5vh;
    width: 5vw;
  }
  .navbar ul {
    display: none;
  }
  .logo1 {
    
    flex-direction: column;
    align-items: center;
    
    height: 2rem;
  }
  .burger {
    display: block;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .navbar {
    height: 5vh;
    width: 5vw;
  }
  .navbar ul {
    display: none;
  }
  .logo1 {
    
    flex-direction: column;
    align-items: center;
    
    height: 2rem;
  }
  .burger {
    display: block;
    color: #fff;
  }
}